* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    display: block;
    margin: 10px 0 0 10px;
}

h3 {
    display: block;
    margin: 10px 0 0 100px;
}

.module {
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

.module div {
    display: none;
}

.module div:target {
    display: inline-block;
}

.module > a {
    color: rgba(10, 10, 10, .8);
    display: inline-block;
    font-size: 110%;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgba(200, 100, 100, .5);
    padding: 5px;
}

.module > a:hover,
.module > a:active {
    color: rgba(10, 10, 10, .8);
    font-size: 110%;
    text-decoration: none;
    background-color: rgba(250, 150, 150, .5);
}

.course-container {
    text-align: left;
    clear: both;
    display: inline-block;
    width: 100%;
    margin: 10px 10px 10px 10px;
    /*background-color: rgba(200, 200, 250, .5);*/
    border-radius: 10px;
    padding: 10px;
}

.assignment {
    text-align: center;
    display: inline-block;
    float: left;
    width: 300px;
    height: 60px;
    background-color: rgba(200, 100, 200, .5);
    margin: 10px 0 0 10px;
    border-radius: 10px;
    padding: 10px;
}

div.assignment {
    display: table;
    overflow: hidden;
}

div.assignment:hover {
    display: table;
    overflow: hidden;
    float: left;
    width: 300px;
    height: 60px;
    background-color: rgba(250, 150, 250, .5);
    margin: 10px 0 0 10px;
    border-radius: 10px;
    padding: 10px;
}

.assignment a {
    display: table-cell;
    color: rgba(10, 10, 10, .8);
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 110%;
    text-decoration: none;
}